.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #ef473a inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.image {
  width: auto;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 300px;
    height: 500px;
  }
}
