.form {
  width: 700px;
  background: radial-gradient(#ef473a 3px, transparent 4px),
    radial-gradient(#ef473a 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #cb2d3e 75px,
      #cb2d3e 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #cb2d3e 76px,
      #cb2d3e 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.bg {
  background: linear-gradient(to right, #ef473a, #cb2d3e);
}

@media only screen and (max-width: 600px) {
  .mobi {
    font-size: 12px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 340px) {
  .mobi {
    font-size: 9px;
  }
}
